.btn-common {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 500;
  color: var(--color-black);
  border-radius: var(--border-radius-sm);
  padding: 1rem 1.5rem;
  border: none;
  text-decoration: none;
  transition: all 0.3s ease;
  &:focus {
    box-shadow: none;
    outline: 0;
  }
  &:hover {
    color: var(--color-primary);
  }
}

.fill-btn {
  @extend .btn-common;
  color: var(--color-white);
  background-color: var(--color-primary);
  &:hover {
    color: var(--color-white);
    background-color: var(--color-primary-hover);
  }
}
